body {
	background-color: darken(white, 10%);
	font: 13pt Helvetica;
	box-sizing: border-box;
}

.battle-body {
	position: relative;
	width: 320px;
	height: 444px;
	background-color: white;
	overflow: hidden;
}

.battle-header {
	height: 40px;
	background-color: black;
	color: white;
	text-align: center;
}

.home-button {
	float: left;
	padding: 10px 15px;
	width: 40px;
}

.next-button {
	float: right;
	padding: 10px 15px;
	width: 40px;
}

%episode {
	height: (444px - 40px) / 2;
	position: relative;
	z-index: 0;
	overflow: hidden;
}

.episode-container {
	position: absolute;
	width: 100%;
	height: 100%;
}

.text-area {
	// margin: 15px;
	width: 220px;
	height: 166px;
}

.vote-area {
	height: 36px;
	// padding: 15px;
}

.background-image {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-attachment: 50% 50%;
	background-size: cover;
	opacity: 0.2;
	z-index: -1;
}

.top-episode {
	@extend %episode;
	.background-image {
		background-image: url('http://images.wikia.com/simpsons/images/e/e0/Flame.gif');
	}
	.text-area {

	}
	.title-text {
		text-align: left;
		// margin: 15px;
	}
	.episode-number {
		text-align: left;
		padding-top: 0px;
	}
	.episode-links {
		text-align: left;
	}
	.vote-area {
		padding-top: 0px;
	}
	.vote-button {
		float: left;
	}
	.vote-count {
		float: left;
	}
	.discuss-link {
		float: right;
	}
}

.bottom-episode {
	@extend %episode;
	.background-image {
		background-image: url('http://images.wikia.com/simpsons/images/4/47/Bart_vs_australia.png');
	}
	.text-area {
		position: absolute;
		bottom: 0px;
		right: 0px;
		height: auto;
		width: auto;
	}
	.title-text {
		text-align: right;
		// padding-top: 65px;
		// margin: auto 15px 15px;
	}
	.episode-number {
		text-align: right;
	}
	.episode-links {
		text-align: right;
	}
	.vote-area {
		padding-bottom: 0px;
	}
	.vote-button {
		float: right;
	}
	.vote-count {
		float: right;
	}
}

.title-text {
	font-size: 1.4em;
	padding: 8px 15px;
}

.episode-number {
	font-size: 0.8em;
}

.vs-text {
	position: absolute;
	text-align: center;
	width: 100%;
	font-size: 1.5em;
	top: (444px - 40px) / 2 + 28px;
}

.vote-button {
	background-color: gray;
	width: 50px;
	padding: 8px;
	text-align: center;
	// border-radius: 8px;
}

.vote-count {
	padding: 8px 20px;
}

.discuss-link {
	padding: 8px 15px;
}

.episode-links {
	font-size: 0.9em;
}

.voting-button {
  color: lightgrey;
  &.upvoted { color: orange; }
  &.downvoted { color: blue; }
  &.nothing { color: black; }
}
