.main-banner {
  text-align: center;
}

%main-banner-common {
  padding: 2em;
}

.main-banner-headline {
  @extend %main-banner-common;
  background: rgb(0,125,175) url('http://i.imgur.com/1mUWw6f.png') 50% 100% no-repeat;
  background-size-y: 100%;

  color: white;
  h1 {
    font-size: 3em;
  }

  img {
    max-width: 80%;
    padding-bottom: 12em;
  }
}

.main-banner-tagline {
  @extend %main-banner-common;

  background-color: #ffbc73;
  h2 {
    font-size: 2.5em;
    font-weight: lighter;
  }
}
