.main-banner {
  text-align: center;
}

.main-banner-headline {
  background: rgb(0, 125, 175);
  overflow: hidden;
  padding-top: 2em;

  color: white;
  h1 {
    font-size: 3em;
  }
}

.main-banner-donut {
  max-width: 80%;
  position: relative;
  z-index: 0;
}

.main-banner-background {
  img {
    width: 100%;
    min-width: 800px;
    margin-top: -90px;
  }
}

.main-banner-tagline {
  padding: 2em;

  background-color: #ffbc73;
  h2 {
    font-size: 2.5em;
    font-weight: lighter;
  }
}

.main-banner-tagline-reddit-logo {
  height: 1.26em;
}
