<h2>EPISODE: {{title}}</h2>

<h3>You are: {{ currentUser.name }} {{account_str()}}</h3>

<div class="ep_overview" ng-if="!admin_account">{{overview}}</div>
<textarea class="ep_overview" ng-model="$parent.overview" ng-if="admin_account"></textarea>

<img ng-src="{{image_url}}" ng-click="select_image($index)" ng-repeat="image_url in images()"/>

<div><button ng-click="save_changes()" ng-if="admin_account">Save</button></div>

<h3>Discussion ({{ comment_data.children.length }}):</h3>

<div ng-repeat="comment in comments()">
	<div style="padding-left: {{comment.data.depth*25}}px">
		{{comment.data.author}}: {{comment.data.body}}
	</div>
	<div style="padding-left: {{(comment.data.depth+1)*25}}px">
		<textarea type="text" ng-model="comment.data.new_reply"></textarea>
		<button ng-click="add_comment(comment.data)">Reply</button>
	</div>
</div>
<div>
	<div>
		<textarea type="text" ng-model="comment_data.new_reply"></textarea>
		<button ng-click="add_comment(comment_data)">Add New Comment</button>
	</div>
</div>
