<h2>EPISODE: {{title}}</h2>

<h3>You are: {{ currentUser.name }} {{account_str()}}</h3>

<div class="ep_overview" ng-if="!admin_account">{{overview}}</div>
<textarea class="ep_overview" ng-model="$parent.overview" ng-if="admin_account"></textarea>

<img ng-src="{{image_url}}" ng-click="select_image($index)" ng-repeat="image_url in images()"/>

<div><button ng-click="save_changes()" ng-if="admin_account">Save</button></div>

<h3>Discussion ({{ comment_data.children.length }}):</h3>

<div ng-repeat="comment in comments()" style="padding-left: {{comment.data.depth*40}}px">
	{{ comment.data.ups }} / {{ comment.data.downs }}
	<span class="voting-button" ng-click="vote_up(comment)" ng-class="{upvoted: comment.data.likes === true}">⬆</span>
  <span class="voting-button" ng-click="vote_down(comment)" ng-class="{upvoted: comment.data.likes === false}">⬇</span>
	<div>
		{{comment.data.author}}:
	</div>
	<div style="padding: 10px">
		{{comment.data.body}}
	</div>
	<button ng-if="show_expand(comment)" ng-click="expand(comment)">Expand</button>
	<button ng-if="show_collapse(comment)" ng-click="collapse(comment)">Collapse</button>
	<button ng-if="!show_reply_box(comment)" ng-click="toggle_reply(comment,true)">Add Reply</button>
	<button ng-if="show_reply_box(comment)" ng-click="toggle_reply(comment,false)">Cancel Reply</button>
	<button>Edit</button>
	<button>Delete</button>
	<div ng-if="show_reply_box(comment)" style="padding-left: 40px">
		<textarea type="text" ng-model="comment.data.new_reply"></textarea>
		<div><button ng-click="add_comment(comment.data)">Submit</button></div>
	</div>
</div>
<div>
	<div>
		<textarea type="text" ng-model="comment_data.new_reply"></textarea>
		<button ng-click="add_comment(comment_data)">Add New Comment</button>
	</div>
</div>
