<header class="site-header">
  springfieldopen.com

  &copy; 2014
</header>

<section class="main-banner">
  <div class="main-banner-headline">
    <h1>The Springfield Open</h1>
    <img class="main-banner-donut" src="/images/golden_donut.png" alt="The Golden Donut"/>
    <div class="main-banner-background"></div>
  </div>
  <div class="main-banner-tagline">
    <h2>A <strong>competition</strong> for the best Simpsons episode of all time.</h2>
    <h2>Powered by
      <img class="main-banner-tagline-reddit-logo" src="/images/Reddit_logo.svg" alt="Reddit"/>
    </h2>
    <h2>Voted by <strong>you</strong></h2>
  </div>
</section>

<section class="battle-list">

  <header class="battle-list-header">
    <div ng-if="tournament.tournament_over()">
      <h1>Tournament has ended</h1>
    </div>
    <div ng-if="tournament.round_in_progress()">
      <h1>Round in progess</h1>
      <h2>Closes in {{time_until_next_event | date:'m:ss'}}</h2>
      <h2>Matches in progress:</h2>
    </div>
    <div ng-if="tournament.between_rounds()">
      <h1>Round over</h1>
      <h2>New round begins in {{time_until_next_event}}s</h2>
    </div>
  </header>

  <div class="battle is-open" ng-repeat="item in tournament.battles">
    <div class="battle-container">
      <div class="battle-episode-first-info">
        <
      </div>
      <div class="battle-center-column">
        <div class="battle-episode-first">
          <div class="battle-episode-score">
            {{score(item.ep1)}}
          </div>
          <a href="#/episode/{{short_name(item.ep1.ep_name)}}">
            <div class="battle-episode-image-first"
               style="background-image: url({{escape_image_url(item.ep1.ep_image_url)}})">
          </div>
          </a>
          <div class="battle-episode-vote" ng-click="votefor(item.ep1)" ng-class="{upvoted: item.ep1.likes === true}">
            Vote
          </div>
        </div><div class="battle-episode-second">
          <div class="battle-episode-score">
            {{score(item.ep2)}}
          </div>
          <a href="#/episode/{{short_name(item.ep2.ep_name)}}">
            <div class="battle-episode-image-second"
                 style="background-image: url({{escape_image_url(item.ep2.ep_image_url)}})">
            </div>
          </a>
          <div class="battle-episode-vote" ng-click="votefor(item.ep2)" ng-class="{upvoted: item.ep2.likes === true}">
            Vote
          </div>
        </div>
      </div>
      <div class="battle-episode-second-info">
        >
      </div>
    </div>
  </div>

</section>
