<header class="site-header">
  springfieldopen.com

  &copy; 2014
</header>

<section class="main-banner">
  <div class="main-banner-headline">
    <h1>The Springfield Open</h1>
    <img class="main-banner-donut" src="/images/golden_donut.png" alt="The Golden Donut"/>
    <div class="main-banner-background"></div>
  </div>
  <div class="main-banner-tagline">
    <h2>A <strong>competition</strong> for the best Simpsons episode of all time.</h2>
    <h2>Powered by
      <img class="main-banner-tagline-reddit-logo" src="/images/Reddit_logo.svg" alt="Reddit"/>
    </h2>
    <h2>Voted by <strong>you</strong></h2>
  </div>
</section>

<section class="battle-list">

  <div class="battle is-open">

    <div class="battle-episode"
         style="background-image: url('http://images4.wikia.nocookie.net/__cb20100512232557/simpsons/images/4/47/Smart_and_Smarter.jpg')">
      <h1>NONSENSE</h1>
    </div>
    <div class="battle-episode"
         style="background-image: url('http://images3.wikia.nocookie.net/__cb20071016052811/simpsons/images/b/b6/Jazzy_%26_The_Pussycats.jpg')">
      <h1>NONSENSE</h1>
    </div>

  </div>

</section>
